<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="./css/list.css">
</head>
<body>
    <div th:text="${message}"></div>
    <div>
        <div>
            <a id="link" th:href="@{/patient/add}">Add Patient</a>
        </div>
        <br/>
        <br/>
        <table>
            <tr>
                <th>Last Name</th>
                <th>First Name</th>
                <th>Date of birth</th>
            </tr>
            <tr th:each="patient : ${patientsList}" >
                <div>
                    <td th:text="${patient.getFamily()}" ></td>
                    <td th:text="${patient.getGiven()}" ></td>
                    <td th:text="${patient.getDob()}" ></td>
                    <td><a th:href="@{/notes?patientId={id}(id=${patient.getId()})}" >See notes</a></td>
                    <td><a th:href="@{/patient/update?patientId={id}(id=${patient.getId()})}" >Update</a></td>
                    <td><a th:href="@{/patient/delete?patientId={id}(id=${patient.getId()})}" >Delete</a></td>
                    <td><a th:href="@{/assess?patientId={id}(id=${patient.getId()})}" >Result for diabetes</a></td>
                </div>
            </tr>
        </table>

    </div>
</body>
</html>