
body {
    text-align: center;

}
#formadd {

    border-radius: 5%;
    border: solid;
    width: 15%;
    padding: 1%;
    margin: auto;
    background-color: lightgrey;
}
form{
    text-align: left;
}
input,label{
    margin-left: 0;
}