<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="./css/add.css">
</head>
<body>
<div id="formadd">
    <form method="post" action="#" th:object="${note}" th:action="@{/note/add}" >
        <div>
            <label>Patient : </label>
            <label th:text="${patient.getFamily()}" ></label>
            <label th:text="${patient.getGiven()}" ></label>
        </div>
        <div>
            <label>Note : </label>
            <input type="text"  th:field="*{note}" name="noteInput">
            <input type="hidden" th:field="*{patientId}" th:value="${patient.getId()}" name="patientIdInput" >
        </div>
        <div>
            <input type="submit" value="Save">
        </div>
    </form>
</div>

</body>
</html>