<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div>
    <label>Patient : </label>
    <label th:value="${patient.getFamily()}" ></label>
    <label th:value="${patient.getGiven()}" ></label>
</div>
<tr th:each="note : ${notesList}" >
    <div>
        <td th:text="${note.getDate()}" ></td>
        <td th:text="${note.getNote()}" ></td>
        <td><a th:href="@{/note/update?id={id}(id=${note.getId()})}" >Update</a></td>
        <td><a th:href="@{/note/delete?id={id}(id=${note.getId()})}" >Delete</a></td>
    </div>
</tr>
</body>
</html>