<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="css/list.css">
</head>
<body>
<form action="../">
    <input type="submit" value="Patients list" />
</form>
<div th:text="${message}"></div>
<div id="patient">
    <label>Patient : </label>
    <label th:text="${patient.getFamily()}" ></label>
    <label th:text="${patient.getGiven()}" ></label>
</div>
<table>
    <tr th:each="note : ${notesList}" >
        <div>
            <td th:text="${note.getDate()}" ></td>
            <td th:text="${note.getNote()}" ></td>
            <td><a th:href="@{/note/update?id={id}(id=${note.getId()})}" >Update</a></td>
            <td><a th:href="@{/note/delete?id={id}(id=${note.getId()})}" >Delete</a></td>
        </div>
    </tr>
</table>
<br/>
<br/>
<div>
    <a id="link" th:href="@{/note/add?patientId={id}(id=${patient.getId()})}" >Add new</a>
</div>
</body>
</html>