<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <form method="post" action="#" th:object="${note}" th:action="@{/note/update}" >
        <div>
            <label>Patient : </label>
            <label th:text="${patient.getFamily()}" ></label>
            <label th:text="${patient.getGiven()}" ></label>
        </div>
        <div>
            <label th:text="${note.getDate()}" ></label>
        </div>
        <div>
            <label>Note : </label>
            <input type="text"  th:field="*{note}" name="noteInput">
            <input type="hidden" th:field="*{patientId}" th:value="${patient.getId()}">
            <input type="hidden" th:field="*{id}" th:value="${note.getId()}">
            <input type="hidden" th:field="*{date}" th:value="${note.getDate()}">
        </div>
        <div>
            <input type="submit" value="Save">
        </div>
    </form>
</body>
</html>